@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
header{
width: 100%;
background-color: #F5F5F6;
height: 50px;
display: flex;
}
header .content{
display: flex;
width: 80%;
margin: auto;
justify-content: space-between;
align-items: center;
}
header .bank img{
    width: 100px;
    height: 30px;
}
header .list{
display: flex;
justify-content: space-between;
gap: 50px;
}
header .list p{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
letter-spacing: 0.06em;

color: #000000;
}
header button{
background: #FFFFFF;
border-radius: 4px;
width: 58px;
height: 33px;
border: none;
text-align: center;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #000000;
}
h1{
position: absolute;
width: 587px;
height: 32px;
left: 253px;
top: 106px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #000000;
}
.card-1{
position: absolute;
left: 253px;
top: 171px;
}
.card-1 h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;

color: #9F9F9F;
}
.card-1 button{
margin-top: 8px;
width: 65.06px;
height: 30px;
border: 1px solid #E5E5E5;
border-radius: 3px;
background: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #C6C6C6;
}
.card-1 input{
margin-top: 21px;
width: 259px;
height: 102px;
border: 1px solid #E5E5E5;
border-radius: 3px;
}
.card-2{
position: absolute;
left: 635px;
top: 171px;
}
.card-2 h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;

color: #9F9F9F;
}
.card-2 button{
margin-top: 8px;
width: 65.06px;
height: 30px;
border: 1px solid #E5E5E5;
border-radius: 3px;
background: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #C6C6C6;
}
.card-1 button.active{
background-color: purple;
}
.card-2 button.active{
background-color: purple;
}
.card-2 input{
margin-top: 21px;
width: 259px;
height: 102px;
border: 1px solid #E5E5E5;
border-radius: 3px;
}